.new-password-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(60, 110, 225, 1);
  .new-password-feature-container {
   display: flex;
   flex-direction: column;
   gap: 22px;
   padding: 32px 22px;
   background-color: #fff;
   border-radius: 22px;
   box-shadow: 0 2px 8px rgba(99,99,99,0.2); 
   width: 600px;
  }
  .new-password-feature-container-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.confirm-button {
  background-color: rgba(48, 193, 217, 1) ;
}