.update-fields-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}
