@use '../../../shared/assets/styles/abstracts/colors' as *;

.login_feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(60, 110, 225, 1);

  .login_feature_container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width:600px;
    //height: 490px;
    padding: 32px 22px;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);

    .login_feature_container_inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &_btn {
      width: 100%;
      border: none;
      cursor: pointer;
      border-radius: 13px;
      padding: 6px 12px;
      background-color: rgba(48, 193, 217, 1);
      color: $text-foreground;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &_img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.logo-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  p {
    font-weight: 600;
    font-size: 2.4rem;
  }
}
.forget-password {
  color: rgba(147, 127, 241, 1);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
  cursor: pointer;
}
.navigate-sign-up {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(112, 124, 154, 1);
  span {
    color: rgba(147, 127, 241, 1);
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
}