.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 200%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.recharge-modal {
  width: 55rem;
  height: 35rem;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  .recharge-top {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
      font-size: 1.6rem;
      padding: 1rem;
      border: 1px solid rgba(15, 30, 66, 1);
      border-radius: 1.8rem;
    }
  }
  .title {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-top: 4.9rem;
    padding-bottom: 3.5rem;
  }
  .fill-up-methods {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
    .fill-up-method {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 8.6rem;
      width: 8.6rem;
      gap: 1rem;
      p {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
.position-relative-for-modal {
  position: relative;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.close-button {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 3rem;
  left: 50rem;
  cursor: pointer;
}
