.forget-password-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(60, 110, 225, 1);
  .forget-password-container {
    display: flex;
    padding: 32px 32px;
    width: 600px;
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,0.2);
  }
  .forget-password-feature_container_inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .recover-button {
    background-color: rgba(48, 193, 217, 1);
  }
}

.account-recovery {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(120, 120, 122, 1);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}