.update-password-container { 
  border: 1px solid #e0e0e0;
  padding: 2rem;
  border-radius: 13px; 
}
.password {
  font-family: Poppins;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: 0%;
text-transform: capitalize;

}
